@page "/rental"

@using Final_Project.Components.Pages.Data;


<style>
    .container {
    display: grid;
    grid-template-areas:
    "header1 header1 header2 header2"
    "menu1 content1 menu2 content2"
    "footer1 footer1 footer2 footer3";
    grid-template-columns: 1fr 3fr 1fr 3fr;
    gap: 5px;
    background-color: #2196F3;
    padding: 5px;
    }

    .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    }

    .container > div.header1 {
    grid-area: header1;
    text-align: center;
    }

    .container > div.menu1 {
    grid-area: menu1;
    }

    .container > div.content1 {
    grid-area: content1;
    }

    .container > div.footer1 {
    grid-area: footer1;
    text-align: center
    }

    .container > div.header2 {
    grid-area: header2;
    text-align: center;
    }

    .container > div.menu2 {
    grid-area: menu2;
    }

    .container > div.content2 {
    grid-area: content2;
    }

    .container > div.footer2 {
    grid-area: footer2;
    text-align: center
    }

    .container > div.footer3 {
    grid-area: footer3;
    text-align: center
    }

</style>

<div class="container">
    <div class="header1"><h1>New Rental</h1></div>

    <div class="menu1">
        <h3>Customer:</h3>

    </div>

    <div class="content1">
        <SearchableDropdown TItem="Customer"
        Items="customers"
        SelectedItem="SelectedCustomer"
        SelectedItemChanged="OnCustomerSelected"
        Placeholder="Search customers...">
            <ItemTemplate>
                <div>
					<strong>@context.customerID</strong>, @context.firstName @context.lastName, @context.email
				</div>
            </ItemTemplate>
        </SearchableDropdown>
        <p>Selected: @SelectedCustomer?.customerID, @SelectedCustomer?.firstName @SelectedCustomer?.lastName</p>
    </div>
    <div class="footer1">
        <h4>Footer</h4>

    </div>

    <div class="header2"><h1>Find a Rental</h1></div>

    <div class="menu2">
        <a href="#">Link 1</a><br><a href="#">Link 2</a><br><a href="#">Link 3</a>


    </div>
    <div class="content2">
        <h3>Lorem Ipsum</h3><p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ridiculus sit nisl laoreet facilisis aliquet. Potenti dignissim litora eget montes rhoncus sapien neque urna. Cursus libero sapien integer magnis ligula lobortis quam ut.</p>

    </div>
    <div class="footer2"><h4>Footer</h4></div>
    <div class="footer3"><h4>Footer</h4></div>
</div>




@code {
    private List<Customer> customers = Customer.GetCustomers();

    private Customer SelectedCustomer{ get; set; }

    private void OnCustomerSelected(Customer customer)
    {
        SelectedCustomer = customer;
        // You can add additional logic here when an item is selected
    }

}
